<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
 <title>ICS 465 Group 4</title>
<body>
<div id="app">
  <v-app>
    <v-content>
      <v-container>

        <template>
          <v-layout>
            <v-flex xs12 sm6 offset-sm3>
              <v-card>
                <v-card-media src="http://r.ddmcdn.com/w_830/s_f/o_1/cx_98/cy_0/cw_640/ch_360/APL/uploads/2015/07/cecil-AP463227356214-1000x400.jpg" height="200px">
                </v-card-media>
                <v-card-title primary-title>
                  <div>
                    <h3 class="headline mb-0">Lion</h3>
                    <h5>1-5 star rating:</h5>
                    <v-btn icon>
                      <v-icon>star</v-icon>
                    </v-btn>
                    <v-btn icon>
                      <v-icon>star</v-icon>
                    </v-btn>
                    <v-btn icon>
                      <v-icon>star</v-icon>
                    </v-btn>
                    <v-btn icon>
                      <v-icon color="yellow">star</v-icon>
                    </v-btn>
                    <v-btn icon>
                      <v-icon>star</v-icon>
                    </v-btn>
                    <v-flex xs12 sm4 offset-sm4>
                      <v-text-field v-model="text" type="text" label="Comment:"></v-text-field>
                    </v-flex>

                  </div>
                </v-card-title>
                <v-card-actions>
                  <v-btn flat color="orange">Share</v-btn>
                  <v-btn flat color="orange">Explore</v-btn>
                  <v-btn flat color="orange">Save</v-btn>
                  <v-btn flat color="orange">Copy</v-btn>
                  <v-btn flat color="orange">Flag</v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </template>

        <template>
          <v-layout>
            <v-flex xs12 sm6 offset-sm3>
              <v-card>
                <v-card-media src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTB0sD0Ko0ivUWaUzPlzeBvFmeUrhXuEshKBitQ9CWd4n6hviL0" height="200px">
                </v-card-media>
                <v-card-title primary-title>
                  <div>
                    <h3 class="headline mb-0">Rabbits</h3>
                    <h5>1-5 star rating:</h5>
                    <v-btn icon>
                      <v-icon>star</v-icon>
                    </v-btn>
                    <v-btn icon>
                      <v-icon>star</v-icon>
                    </v-btn>
                    <v-btn icon>
                      <v-icon>star</v-icon>
                    </v-btn>
                    <v-btn icon>
                      <v-icon>star</v-icon>
                    </v-btn>
                    <v-btn icon>
                      <v-icon color="yellow" >star</v-icon>
                    </v-btn>
                    <v-flex xs12 sm4 offset-sm4>
                      <v-text-field v-model="text" type="text" label="Comment:"></v-text-field>
                    </v-flex>
                  </div>
                </v-card-title>
                <v-card-actions>
                  <v-btn flat color="orange">Share</v-btn>
                  <v-btn flat color="orange">Explore</v-btn>
                  <v-btn flat color="orange">Save</v-btn>
                  <v-btn flat color="orange">Copy</v-btn>
                  <v-btn flat color="orange">Flag</v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </template>

        <template>
          <v-layout>
            <v-flex xs12 sm6 offset-sm3>
              <v-card>
                <v-card-media src="http://www.slate.com/content/dam/slate/blogs/wild_things/2015/09/02/150902_WILD_CutePenguins.jpg.CROP.promo-xlarge2.jpg" height="200px">
                </v-card-media>
                <v-card-title primary-title>
                  <div>
                    <h3 class="headline mb-0">Penguins</h3>
                    <h5>1-5 star rating:</h5>
                    <v-btn icon type="button" @click="activeBtn = 'btn1'" :class="{active: activeBtn === 'btn1' }">
                      <v-icon>star</v-icon>
                    </v-btn>
                    <v-btn icon>
                      <v-icon>star</v-icon>
                    </v-btn>
                    <v-btn icon>
                      <v-icon>star</v-icon>
                    </v-btn>
                    <v-btn icon>
                      <v-icon>star</v-icon>
                    </v-btn>
                    <v-btn icon>
                      <v-icon>starb</v-icon>
                    </v-btn>
                    <v-flex xs12 sm4 offset-sm4>
                      <v-text-field v-model="text" type="text" label="Comment:"></v-text-field>
                    </v-flex>
                  </div>
                </v-card-title>
                <v-card-actions>
                  <v-btn flat color="orange" >Share</v-btn>
                  <v-btn flat color="orange">Explore</v-btn>
                  <v-btn flat color="orange">Save</v-btn>
                  <v-btn flat color="orange">Copy</v-btn>
                  <v-btn flat color="orange">Flag</v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </template>
      </v-container>
    </v-content>
  </v-app>
</div>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
<script>
  new Vue({ el: '#app' })
</script>
</body>
</html>
